body {
    font-family: 'Roboto', sans-serif;
      color: #434455;
      background-color: #fff;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
   display: block;
  }
  .container { 
  
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
  }
    
    .header {
      border-bottom: 1px solid #E7E9FC;
      box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    }
     .section {
      padding-top: 120px;
      padding-bottom: 120px ;
     }
    
    .header-conteiner {
      display: flex;
      align-items: center;
    }
    .navigation {
      display: flex;
      align-items: center;
    }
    .nav-list{
      display: flex;
      gap: 40px;
    }
    .address-list {
      display: flex;
      gap: 40px;
    }
  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: #4D5AE5;
  }
  .logo-part {
    color: #2E2F42; 
  } 
  .nav-link {
    position: relative;
    color: #2e2f42 ;
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 ;
    display: block;
    
  }
  .nav-link:hover,
  .nav-link:focus {
  color: #404bbf;
  }
  .studio {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }
  .studio::after {
    position: absolute;
    display: block;
   content: "" ; 
   border-radius: 2px;
   width: 48px;
   height: 4px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   background-color: #404bbf;
   left: 0;
   bottom: -1px;

  }

  .address {
    font-style: normal;
    margin-left: auto;
  }
  .address-link {
    color: #434455;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .address-link:hover {
    color: #404bbf ;
    
  }
  .address-link:focus {
    color: #404bbf  ;
  }
  

/* hero */
.hero {
    background-color: #2E2F42; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}
  .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .background-img {
   
   }
  .hero-image-name {
    color: #fff;
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
     max-width: 496px;
     padding-bottom: 48px;
     margin-bottom: 8px;
  }
    .btn {
    font-family: 'Roboto', sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  .btn:hover {
    background-color: #404BBF ;
  }
  .btn:focus {
  background-color: #404BBF ;
  }
  /* Our Benefits */
  container-our-benefits {
    padding-bottom: 60px;
    padding-top:120px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .benefits-list {
    display: flex; 
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
  }

  .benefits-list-item{
width: 264px ;
  }
.benefits-icons {
display: flex;
border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #f4f4fd;
margin-bottom: 8px;
align-items: center;
justify-content: center;
}
  .benefit-name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
  }
  .benefit-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  }
  /* Our Team */
  .sect-our-team {
    background-color: #F4F4FD;
    
  }
  .sect-our-team {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .container-our-team {

  }
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .our-team-item {
    width: calc((100% - 72px)/4);
     background-color: #FFFFFF ;
     border-radius: 0px 0px 4px 4px; 
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .our-team-container-discription {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
   border-radius: 0px, 0px, 4px, 4px;
   text-align: center;
  }
  .sect-our-team-title {
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
text-align: center;
margin-bottom: 72px ;

  }
  .member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
  }
.our-team--member-profesion {
color: #434455 ;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;}
.our-team-icon-list {
display: flex;
gap: 24px;
justify-content: center;
margin-top: 8px;
}
  .our-team-icons {
width: 40px;
height: 40px;
  }
  .our-teams-icons-links {
background-color: #4D5AE5;
border-radius: 50%;
fill: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-teams-icons-links:hover {
    background-color: #404bbf;
  }
  .our-teams-icons-links:focus {
     background-color: #404bbf;
  }
  .our-teams-svg {
    fill:#f4f4fd;

  }
   

/* Our Portfolio */
  .sect-our-portfolio {  
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
   max-width: 1128px;
    row-gap: 48px;
  }
  .our-portfolio-item {
width: calc((100% - 48px)/3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}


  .our-portfolio-item:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  }
  .sect-our-portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    
  }
  .our-portfolio-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;}


  .sect-name {
    color: #2E2F42 ;
     font-weight: 500;
     font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .our-portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455  ;
  }
  .overlay-img {
  position: relative;
  overflow: hidden;
  }

  .text-overlay {
    position: absolute; 
    top: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
     height: 100%;
     overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .our-portfolio-item:hover .text-overlay {
    transform: translateY(0%);
  }

  /* footer */
  .ground{
    padding: 100px 0;
    background-color: #2E2F42;
    
  }
  .container-ground {
 display: flex;
 align-items: baseline;

 
  }
  .logo-text {
 display: table-column;
 align-items: center;
 justify-content: center;
 margin-right: 120px;
  }
  .ground-logo {
    display: inline-block;
    margin-bottom: 16px; 
  }
  .ground .logo-part {
    color: #F4F4FD;
  
  }
  .ground-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;  
    max-width: 264px ;
  }
  .social-list-ground {
    
  }
  .social-list {
display: flex;
gap: 16px;
width: 208px;
height: 40px;
  }
  .social-list-item {
    
  }
  .social-list-icon {
    fill: none;
    stroke: #F4F4FD;
    fill: #f4f4fd;
    
  }
  .social-list-title {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

  }
  
.social-list-link {
  fill: #F4F4FD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4D5AE5;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
background-color: #31d0aa;

}